h1 {
    font-size: 70px;
}



body {
    background-color: #f8e8a6;
    font-family: serif;
}

h2{
    font-size: 25px;
    text-align: center;
}

p{
    text-align: justify;
    margin-right: 20px;
}

.heading {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.infoLinks a {
    color: green;
    text-align: center;
    margin:0 20px;
}

